<div class="author container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		<span class="about-author-name"> Автор <%= ath.name%></span>
	</div>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
		<%= link_to "Страничка статей автора", author_path(id: ath.id), class: "author-link"%>
	</div>
	<div class="author-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="author-about-me col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<span class="about-author-info"> <i> <%= ath.info %> </i> </span>
		</div>
		<div class="author-about-face col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<%= image_tag ath.avatar %>
		</div>
		<div class="author-socials col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul>
				<% if ath.vk.length > 5 %>
				<li class="author-vk">
					<a href="<%= ath.vk%>"> <i class="fa fa-vk"> </i> </a>
				</li>
				<% end %>
				<% if ath.fb.length > 5 %>
				<li class="author-fb">
					<a href="<%= ath.fb%>"> <i class="fa fa-facebook"> </i> </a>
				</li>
				<% end %>
				<% if ath.twitter.length > 5 %>
				<li class="author-twitter">
					<a href="<%= ath.twitter%>"> <i class="fa fa-twitter"> </i> </a>
				</li>
				<% end %>
				<% if ath.instagram.length > 5 %>
				<li class="author-instagram">
					<a href="<%= ath.instagram%>"> <i class="fa fa-instagram"> </i> </a>
				</li>
				<% end %>
				<% if ath.rss.length > 5 %>
				<li class="author-rss">
					<a href="<%= ath.rss%>"> <i class="fa fa-rss"> </i> </a>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
