<div class="container slider col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="wrapper">
	<div id="carousel">
		<% @main_pages.each do |page|%>
				<div class="caro-item">
				<%= image_tag page.thumb, :alt=>"Foto"%>
				<a href="<%= page_path(id: page.slug)%>" class="header-link"><span class="caro-header"><%= page.header %></a> </span>
				</div>
		<% end %>
	</div>
</div>
</div>

<div class="container content-article col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="article-title">
		<h3>Новости</h3>
		<%= link_to "Больше", articles_path%>
	</div>
	<% @articles.each do |article|%>
	<a href="<%= page_path(id: article.slug)%>">
	<div class="article col-xs-6 col-sm-4 col-md-4 col-lg-4">
		<div class="article-img col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<%= image_tag article.thumb, :alt=>"Foto"%>
		</div>
		<div class="article-text col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<span><%= article.header%></span>
		</div>
	</div>
	</a>
	<%end%>
</div>
<div class="content-page container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="page-sidebar col-xs-12 col-sm-3 col-md-3 col-lg-3">
		<div class="interview ">
			Опрос
		</div>
		<div class="cloud-tag">
			<span class="clouds"> Облако тэгов </span>
			<% tag_cloud Page.tag_counts + Article.tag_counts, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag: tag.name), class: css_class %>
			<% end %>
		</div>
	</div>
	<div class="page col-xs-12 col-sm-9 col-md-9 col-lg-9">
		<div class="article-title">
			<h3>Статьи</h3>
			<%= link_to "Больше", pages_path%>
		</div>
		<% @pages.each do |page|%>
		<div class="spacer col-xs-6 col-sm-4 col-md-4 col-lg-4">
			<div class="page-preview col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="page-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a href="<%= page_path(id: page.slug)%>"><span><%= page.preview %></span></a>
				</div>
				<%= image_tag page.thumb, :alt=>"Foto"%>
			</div>
			<div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span class=" index-page-preheader"> <%= link_to page.header, page_path(id: page.slug) %> </span>
			</div>
			<div class="page-preview-credentials col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="index-page-predate text-left col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<%= page.created_at.strftime("%d.%m.%Y")%>
				</div>
				<div class="index-page-preauthor text-right col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<% page.admin_users.each do |ath|%>
					<%= link_to ath.name.mb_chars.upcase.to_s, author_path(id: ath.id)%>
					<%end%>
				</div>
			</div>
		</div>
		<%end%>
	</div>

</div>


<script type="text/javascript">
    $(function() {
    	var _direction = 'left';
    	$('#carousel').carouFredSel({
    		direction: _direction,
    		responsive: true,
    		circular: true,
    		items: {
    			width: 1200,
    			height: 'auto',
    			visible: {
    				min: 1,
    				max: 1
    			}
    		},
    		scroll: {
    			items: 1,
    			duration: 4000,
    			timeoutDuration: 4000,
    			pauseOnHover: 'immediate',
    			onEnd: function( data ) {
    				_direction = ( _direction == 'left' ) ? 'right' : 'left';
    				$(this).trigger( 'configuration', [ 'direction', _direction ] );
    			}
    		}
    	});
    });
</script>
