<div class= "index container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="pages-found col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<% if @pages.nil?%>
		  <span class="no-pages-found"> <i> Извините, по вашему запросу не найдено ни одной статьи...  </i> </span>
		<% else %>
		<span class="no-pages-found"> <i> Статьи: найдено <%= @pages.count %>  </i> </span>
			<% @pages.each do |page|%>
			<div class="spacer col-xs-6 col-sm-4 col-md-3 col-lg-3">
				
				<div class="page-preview col-xs-12 col-sm-12 col-md-12 col-lg-12">				
				<div class="page-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a href="<%= page_path(id: page.slug)%>"><span><%= page.preview %></span></a>
				</div>
				<%=image_tag page.thumb, :alt=>"Foto" if page.thumb%>
				</div>
				<div class="text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class=" index-page-preheader"> <%= link_to page.header, page_path(id: page.slug) %> </span> 
				</div>
				<div class="page-preview-credentials col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="index-page-predate text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<% if !page.published_at.nil? %>
							<%= page.published_at.strftime("%d.%m.%Y") %> 
						<% else %>
							<%= page.created_at.strftime("%d.%m.%Y") %>
						<% end %>
					</div>
					<div class="index-page-preauthor text-right col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<% page.admin_users.each do |ath|%>
							<%= link_to ath.name.mb_chars.upcase.to_s, author_path(id: ath.id)%>
						<%end%>
					</div>
				</div>
				</div>
			<% end %>
		<% end %>		
	</div>
</div>
