<div class="page-wapper container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="page-body  row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="page-text col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<div class="page-title">

				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12"> </div>
				<div class="page-show-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class=" fixt col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="page-show-header"> <%= @page.header %></span>
					</div>
					<div class="page-set col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="page-author"> 
							<% @page.admin_users.each do |ath|%>
								<%= link_to ath.name, author_path(id: ath.id)%>
							<%end%> 
						</span>
						<span class="pg-time"> <i> <%= @page.created_at.strftime("%d.%m.%Y") %>  </i> </span>
						<span class="page-categories"> <%= link_to @page.category, pages_path(category: @page.category) %> </span>
					</div>
					<div class=" fixt col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<%= image_tag @page.thumb %>
					</div>
					<div class="page-show-preview col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span> <%= @page.preview %> </span>
					</div>
				</div>
			</div>
			<div class="page-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%= raw  @page.body %>
			</div>
			<div class="show-keywords col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span>Тэги: </span> 
				<% @page.tag_list.each do |tag| %>
		      	  <span> <%= link_to tag, tag_path(tag: tag) %> </span>
		        <% end %>
			</div>
			<div class="about-author col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<% @page.admin_users.each do |ath|%>
				<div class="author-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="author-about-me col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<span class="about-author-name"><%= ath.name %></span>
						<span class="about-author-info"> <i> <%= ath.info %> </i> </span>
					</div>
					
					<div class="author-about-face col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<%= image_tag ath.avatar %>
					</div>
				</div>
				<%end%>
			</div>
			<div class="comment-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span class="comments-header"> </span>
									<% flash.each do |name, msg| %>
			    <%= content_tag :div, msg, class: "alert alert-info" %>
			  <% end %>
				<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<%= render "comments/form"%>
				</div>
				<%= nested_comments @comments %>
				
			</div>
		</div>
		<div class="read-more col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<h4>Читайте также</h4>
			<% @recent_pages.each do |recent|%>
			  <%= render partial:'page_preview', locals: {page: recent}%>
			<% end %>
			<div class="advertisement col-xs-12 col-sm-12 col-md-12 col-lg-12">
			</div>
		</div>
	</div>
	
</div>