<div class="page-wapper container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="page-body  row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="page-text col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<div class="page-title">

				<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
				<div class="page-show-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class=" fixt col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="page-show-header"> <%= @page.header %></span>
					</div>
					<div class="page-set col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<span class="page-author"> <% @page.admin_users.each do |ath|%>
							<%= link_to ath.name.mb_chars.upcase.to_s, author_path(id: ath.id)%>
							<%end%> </span>
						<span class="pg-time"> <i> <% if !@page.published_at.nil? %>
							<%= @page.published_at.strftime("%d.%m.%Y") %>
							<% else %>
							<%= @page.created_at.strftime("%d.%m.%Y") %>
							<% end %> </i> </span>
						<span class="page-categories"> <%= link_to @page.category.mb_chars.upcase.to_s, pages_path(category: @page.category) %> </span>
					</div>
					<div class=" fixt col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<%= image_tag @page.thumb, class: "sizable" %>
					</div>
					<div class="page-show-preview col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<% if !@page.preview.nil? %><span> <%= @page.preview %> </span><%end%>
					</div>
				</div>
			</div>
			<div class="page-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<%= raw  @page.body %>
			</div>
			<div class="show-keywords col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span>Тэги: </span>
				<% @page.tag_list.each do |tag| %>
				<span> <%= link_to tag, tag_path(tag: tag) %> </span>
				<% end %>
			</div>
			
			
			<div>
				
			 <div class="carousel slide" id="myCarousel">
         		 <div class="carousel-inner">
                	<div class="item ">
                  		<div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                 	 	<a href="#">
                  			<% @page.regular_images.each do |reg_img|%>
							<div class="regular-image col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<%= cl_image_tag(reg_img.path )%>
							</div>
							<% end %>
                 	 	</a>
                  		</div>
                	</div>
                	<div class="item ">
                  		<div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                 	 	<a href="#">
                  			<% @page.regular_images.each do |reg_img|%>
							<div class="regular-image col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<%= cl_image_tag(reg_img.path )%>
							</div>
							<% end %>
                 	 	</a>
                  		</div>
                		</div>
				 </div>
			</div>
				
		
			</div>
			
			
			<div class="about-author col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<% @page.admin_users.each do |ath|%>
						<%= render partial: 'author', locals: {ath: ath}%>
						<%end%>
			</div>
				
			<div class="socials-module col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<script type="text/javascript">
						(function(w, doc) {
							if (!w.__utlWdgt) {
								w.__utlWdgt = true;
								var d = doc,
								    s = d.createElement('script'),
								    g = 'getElementsByTagName';
								s.type = 'text/javascript';
								s.charset = 'UTF-8';
								s.async = true;
								s.src = ('https:' == w.location.protocol ? 'https' : 'http') + '://w.uptolike.com/widgets/v1/uptolike.js';
								var h = d[g]('body')[0];
								h.appendChild(s);
							}
						})(window, document);
					</script>
					<div data-background-alpha="0.0" data-buttons-color="#ffffff" data-counter-background-color="#ffffff" data-share-counter-size="14" data-top-button="false" data-share-counter-type="disable" data-share-styl$

					</div>
					</div>
					<div class="comment-area col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="comments-header"><% if current_user.nil?%><%= link_to "Войдите чтобы комментировать", new_user_session_path %> <% end %></span>
					<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, class: "alert alert-info" %>
					<% end %>
					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<% if !current_user.nil?%>
						<%= render "comments/form"%>
						<% end %>
					</div>
					<%= nested_comments @comments %>

				</div>
				
			</div>
		</div>
			<div class="read-more col-xs-6 col-sm-3 col-md-3 col-lg-3">
				<h4>Читайте также</h4>
				<% @recent_pages.each do |recent|%>
				<%= render partial:'page_preview', locals: {page: recent}%>
				<% end %>
				<div class="advertisement col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
			</div>
			<div class="more-popular col-xs-6 col-sm-3 col-md-3 col-lg-3">
						<h4>Самое популярное</h4>
						<% @popular_pages.each do |recent|%>
						<%= render partial:'page_preview', locals: {page: recent}%>
						<% end %>
						<div class="advertisement col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
				</div>
			</div>
