<div class="container header-wrapper text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%= root_path %>"> <%= image_tag 'header.jpg'%> </a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class=<%= "active-menu-item" if params[:category] == "Новости" %>>
						<a href="<%= pages_path(category: "Новости")%>">НОВОСТИ</a>
					</li>
					<li class=<%= "active-menu-item" if params[:category] == "Эксклюзив" %>>
						<a href="<%= pages_path(category: "Эксклюзив")%>">ЭКСКЛЮЗИВ</a>
					</li>
					<li class=<%= "active-menu-item" if params[:category] == "Возможности" %>>
						<a href="<%= pages_path(category: "Возможности")%>">ВОЗМОЖНОСТИ</a>
					</li>
					<li class=<%= "active-menu-item" if params[:category] == "Лайфстайл" %>>
						<a href="<%= pages_path(category: "Лайфстайл")%>">ЛАЙФСТАЙЛ</a>
					</li>
					<li class=<%= "active-menu-item" if params[:category] == "Советы" %>>
						<a href="<%= pages_path(category: "Советы")%>">СОВЕТЫ</a>
					</li>
					<li class=<%= "active-menu-item" if params[:category] == "Афиша" %>>
						<a href="<%= pages_path(category: "Афиша")%>">АФИША</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= image_tag 'search-white.png', class: "search-icon", id: "search-trigger"%>
					</li>
				</ul>
				<ul id="search-ul" class="search-ul">
					<li>
						<div class="footer-search col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="no-padding text-center search-form col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<%= form_tag pages_path, method: "get" do %>
								<input type="search" name="search" placeholder="Найти на сайте..." >
								<input type="submit" value="">
								<% end %>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</div>
<script>

$( "#search-trigger" ).click(function() {
  $( "#search-ul" ).slideToggle( "slow", function() {
   $('.footer-search').slideToggle("slow")
  });
});
</script>
