<div class="container header-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<nav class="navbar navbar-default  ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= pages_path(category: "Новости")%>">НОВОСТИ</a></li>
        <li><a href="<%= pages_path(category: "Эксклюзив")%>">ЭКСКЛЮЗИВ</a></li>
        <li><a href="<%= pages_path(category: "Возможности")%>">ВОЗМОЖНОСТИ</a></li>
        <li><a href="<%= pages_path(category: "Лайфстайл")%>">ЛАЙФСТАЙЛ</a></li>
        <li><a href="<%= pages_path(category: "Советы")%>">СОВЕТЫ</a></li>
        <li><a href="<%= pages_path(category: "Афиша")%>">АФИША</a></li>
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<a href="<%= root_path%>">
		<div class="header-logo col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="karazina col-sm-3 col-md-3 col-lg-3"></div>	
			<div class="pulse col-xs-12 col-sm-9 col-md-9 col-lg-9"> </div>	
		</div>
	</a>
</div>
