<div class="container header-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="header-categories col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<ul>
			<li> <a href="<%= pages_path(category: "Новости")%>">Новости</a></li>
			<li> <a href="<%= pages_path(category: "Эксклюзив")%>">Эксклюзив</a></li>
			<li> <a href="<%= pages_path(category: "Возможности")%>">Возможности</a></li>
			<li> <a href="<%= pages_path(category: "Лайфстайл")%>">Лайфстайл</a></li>
			<li> <a href="<%= pages_path(category: "Советы")%>">Советы</a></li>
			<li> <a href="<%= pages_path(category: "Афиша")%>">Афиша</a></li>
		</ul>
		
	</div>
	
	<div class="header-logo col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<a href="#"><img src="#" alt="cardio"></a>
		<h2>ПУЛЬС</h2>
	</div>
</div>
